<!-- <p>customer works!</p>
<button mat-raised-button color="warn" (click)="openDialog()" routerLink ="/customer">
    Add Customers
  </button>
  <button
      mat-raised-button
      color="warn"
      style="margin: 10px"
      routerLink=""
    >
      Logout
    </button> -->

     <mat-toolbar style="background-color: darkcyan">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon" style="color:yellow"
      fontIcon="home"
    ></mat-icon>
    <span style="color: yellow;margin: 10px;"> Contact Management System DashBoard</span>
    <span class="example-spacer"></span>
    
    <button mat-raised-button style=" text-align: right; background-color: yellow;color: black;
    border: 0;" color="warn" (click)="openDialog()" routerLink ="/customer">
    Add Customers
  </button>

    <button class="logout"  
      mat-raised-button
       style="margin: 10px; background-color: yellow;"
      
      routerLink=""
    >
      Logout
    </button>
  </mat-toolbar>
<!-- <div>Name : {{ row.Name }}</div>
<div>Address : {{ row.Address }}</div>
<div>State : {{ row.State }}</div>
<div>Distric : {{ row.District }}</div>
<div>Pincode : {{ row.Pincode }}</div>
<div>Pone : {{ row.Phone }}</div>
<div>Skills : {{ row.skills }}</div> -->
